form div{ 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
   
}

form div label{
     color: rgb(107, 107, 107);
     font-weight: 500;
}



form div input{
     border: 1px solid #ddd;
     padding: 0.5rem;
     border-radius:0.3rem ;
    
}


form div input:focus{
    border: 1px solid blue;
    outline: 3px solid #9CA5EA;
    padding: 0.5rem;
    border-radius:0.3rem ;
}


.btn-grad {background-image: linear-gradient(to right, #4b6cb7 0%, #182848  51%, #4b6cb7  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: capitalize !important;
   transition: 0.6s !important;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   width: 100%;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


 .Login{
     display: flex;
     flex-direction: column;
     gap: 1.5rem;
 }

 .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}



.btn-dark {background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%)}
.btn-dark {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s !important;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-dark:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
